<h1>Editing User</h1>

<%= render 'form', user: @user %>

<div class="ml-3 mt-3">
<%= link_to 'Show', @user,class: 'btn-sm btn-info' %> |
<%= link_to 'Back', users_path, class: 'btn-sm btn-primary' %>
</div>