<h1>Editing Product</h1>

<%= render 'form', product: @product %>

<div class="ml-3 mt-4">
<%= link_to 'Show', @product, class: 'btn-sm btn-primary' %> |
<%= link_to 'Back', products_path ,class: 'btn-sm btn-info'%>
</div>